
.navbar {
    height: 70px;
    background: $sta-menu-primary;
  /* this is the part that takes out the shadow & the only edit */
    box-shadow: none;  
    font-size: 18px;
    font-weight: 900 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 1rem;
}

/* awards and experience cards */
    .card-simple {
        background: #fff;
        font-size: 1rem;
      /* this is the part that takes out the shadow */
        box-shadow: none;
        border: 0px solid rgba(0,0,0,0);
        border-radius: 1px;
        margin-top: 20px;
        padding: 15px 20px 15px 20px;
      }
      
    .card {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #fff;
      /* this is the part that takes out the shadow */
        box-shadow: none;
        transition: all 0.2s ease-out;
      }
    
    .card:hover {
        box-shadow: none;
      }

    .card .card-text p {
        color: rgba(0,0,0,0);
        font-size: 0.75rem;
        box-shadow: none;
      }
//add images to experience cards
.flex-w-experience-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-w-experience-text {
  display: flex;
  flex-direction: column;
}
.experience-image {
  max-width: 60px;
  margin-right: 10px;
}